doctype html
html(lang="es")
  head
    title The Cocktail Project - Marcos.Ostos
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1.font-italic Hola mundo
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.